body {
    background-color: #dceff2;}
h1 {font-family:'Courier New', Courier, monospace ;}
.topnav {
    background-color: #ffffff;
    overflow: hidden;
}
.topnav a {
    float:left;
    display: block;
    color: #031939;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}